<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {#<meta charset="utf-8">#}
        {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
        {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
        {#<link href='/css/bootstrap.min.css' rel="stylesheet">#}
        {#<link href='/css/metisMenu.min.css' rel="stylesheet">#}
        {#<link href='/css/timeline.css' rel="stylesheet">#}
        {#<link href= '/css/morris.css' rel="stylesheet">#}
        {#<link href= '/css/sb-admin-2.css' rel="stylesheet">#}
        {#<link href= '/css/sb-admin-2.css' rel="stylesheet">#}
        {#<link href= '/css/font-awesome.min.css' rel="stylesheet">#}
        {#<link href= '/css/bootstrap-tokenfield.css' rel="stylesheet">#}
        {#<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet">#}
        {% stylesheets filter='uglifycss' filter='?cssrewrite' output='css/app.css'
            '%kernel.root_dir%/Resources/public/css/font-awesome.min.css'
            '@AppBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts filter='uglifyjs2' output='js/app.js'
            '@AppBundle/Resources/public/js/jquery.min.js'
            '@AppBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {#<script src= '/js/jquery.min.js' type="text/javascript"></script>#}
        {#<script src= '/js/jquery-ui-1.10.4.custom.min.js' type="text/javascript"></script>#}
        {#<script src= '/js/jquery.sortable.min.js' type="text/javascript"></script>#}
        {#<script src= '/js/bootstrap.min.js' type="text/javascript"></script>#}
        {#<script src= '/js/metisMenu.min.js' type="text/javascript"></script>#}
        {#<script src= '/js/raphael-min.js' type="text/javascript"></script>#}
        {#<script src= '/js/maskedinput.js' type="text/javascript"></script>#}

        {#<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>#}
        {#&#123;&#35;<script src= '/js/typeahead.bundle.min.js' type="text/javascript"></script>&#35;&#125;#}
        {#<script src= '/js/sb-admin-2.js' type="text/javascript"></script>#}
        {#<script src= '/js/notificationList.js' type="text/javascript"></script>#}
        {#<script src= '/js/checkedNotify.js' type="text/javascript"></script>#}
        {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
        {#<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    {% endblock %}
    {% block title %}<title>Monitoring system</title>{% endblock %}
</head>
<body>
<div id="content">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Monitoring system</a>
            <ul class = "nav navbar-nav">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
        {% block header %}
            <p class="navbar-text navbar-right">
                {% if user is defined and user is not null%}
                    <a href="/logout"><i class="fa fa-sign-in fa-fw"></i>Sign out</a>
                (<a href="/profile">{{ user.username }}</a>)
                {% else %}
                    <a href="/login">
                        <i class="fa fa-sign-in fa-fw"></i>Sign in
                    </a>
                {% endif %}
            </p>
        {% endblock %}
    </nav>
    <!-- /.navbar-header -->
</div>
{% block content %}
{% endblock %}
<div id="footer">
    {#&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.#}
</div>
</body>
</html>